@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Note: 62.5% of default web browser font 16px = 10px = 1rem */
html {
    font-family: 'Work Sans', sans-serif;
    background: white;
    color: black;
    font-size: 62.5%;
    font-weight: 400;
    text-align: center;
}

body {
    font-size: 2rem;
}

a, a:visited {
    color: black;
    background: transparent;
    text-decoration: none;
}

header, footer {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background: transparent;
    z-index: 2;
}

header {
    top: 0;
    padding: 20px 20px 0 20px;
}

footer {
    bottom: 0;
    padding: 0 20px 20px 20px;
}

.navlink {
    font-size: 3rem;
    padding: 10px;
}

a.navlink.current {
    border: 3px solid black;
}

main {
    width: 75%;
    margin: 0 auto 10vh;
}

.project-container {
    margin: 15vh auto;
}

.project-container a:hover {
    color: grey;
}

.slideshow-container {
    max-width: 1000px;
    height: 580px;
    position: relative;
    margin: auto;
    /* background: gold; */
}
.slideshow-container img {
    display: block;
    position: absolute;
    width: 100%;
    height: 580px;
    vertical-align: middle;
    object-fit: contain;
    /* background: grey;  */
}
  
.mySlides1, .mySlides2, .mySlides3 {
    display: none;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: auto;
    padding: 1rem;
    color: white;
    background: rgb(0, 0, 0, 0.5);
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0.3rem;
    user-select: none;
}

.prev {
    left: 40%;
}

.next {
    right: 40%;
}

.prev:hover, .next:hover {
    background: white;
    color: black;
}

/* Media query particular to mobile (portrait) */
@media screen and (max-width: 480px) {
    main {
        width: 100%;
    }
    .slideshow-container {
        height: 390px;
    }
    .slideshow-container img {
        height: 390px;
    }
}