@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Note: 62.5% of default web browser font 16px = 10px = 1rem */
html {
    font-family: 'Work Sans', sans-serif;
    background: white;
    color: black;
    font-size: 62.5%;
    font-weight: 400;
    text-align: center;
}

body {
    font-size: 2rem;
}

a, a:visited {
    color: black;
    background: transparent;
    text-decoration: none;
}

header, footer {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 2;
}

header {
    top: 0;
    padding: 20px 20px 0 20px;
}

footer {
    bottom: 0;
    padding: 0 20px 20px 20px;
}

.navlink {
    font-size: 3rem;
    padding: 10px;
}

a.navlink.current {
    border: 3px solid black;
}

main {
    width: 75%;
    margin: 0 auto;
}

/* Slideshow container */
.slideshow-container {
    height: 600px;
    position: relative;
    background: gold;
    margin: 100px auto;
}

.slideshow-container img {
    width: 100%;
    max-height: 100%;
    background: grey;
    object-fit: contain;
}
  
/* Hide the images by default */
.mySlides1, .mySlides2 {
    display: none;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    width: auto;
    padding: 12px;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 2rem;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 45%;
}

/* Position the "previous button" to the left */
.prev {
    left: 45%;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
} */
  
/* Caption text */
/* .text {
    color: black;
    background-color: transparent;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
} */

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}