@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Note: 62.5% of default web browser font 16px = 10px = 1rem */
html {
    font-family: 'Work Sans', sans-serif;
    background: white;
    color: black;
    font-size: 62.5%;
    font-weight: 400;
    text-align: center;
}

body {
    font-size: 2rem;
}

a, a:visited {
    color: black;
    background: transparent;
    text-decoration: none;
}

header, footer {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 2;
}

header {
    top: 0;
    padding: 20px 20px 0 20px;
}

footer {
    bottom: 0;
    padding: 0 20px 20px 20px;
}

.navlink {
    font-size: 3rem;
    padding: 10px;
}

a.navlink.current {
    border: 3px solid black;
}

main {
    width: 75%;
    margin: 0 auto;
}

/* Individual Project Page */
.slideshow-container {
    height: 600px;
    position: relative;
    background: gold;
    margin: 100px auto;
}

.slideshow-container img {
    width: 100%;
    height: 550px;
    background: grey;
    object-fit: contain;
}

.project-description {
    width: 60%;
    text-align: left;
    margin: 0 auto 80px;
}

/* Information and Contact Page */
.information-content, .contact-content {
    margin: 30vh 0;
}

/* Projects Table Page */
table.project-table, th, td {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

table.project-table {
    width: 100%;
    margin: 20vh 0 15vh;
}

table.project-table th {
    padding-bottom: 10px;
}

table.project-table tr:hover {
    color: grey;
}

table.project-table tr:nth-of-type(1):hover {
    color: black;
}

table.project-table td a {
    display: block;
    text-align: left;
}

table.project-table td a:hover {
    color: grey;
}

/* Adjust Table Column Widths and Padding */
.project-table td:nth-of-type(1), .project-table th:nth-of-type(1) {
    width: calc((100% / 10) * 4);
}

.project-table td:nth-of-type(2), .project-table th:nth-of-type(2) {
    width: calc((100% / 10) * 2);
}

.project-table td:nth-of-type(3), .project-table th:nth-of-type(3) {
    width: calc((100% / 10) * 1.5);
}

.project-table td:nth-of-type(4), .project-table th:nth-of-type(4) {
    width: calc((100% / 10) * 1.5);
}

.project-table td:nth-of-type(5), .project-table th:nth-of-type(5) {
    width: calc((100% / 10) * 1);
}

.project-table th, .project-table td {
    padding-right: 20px;
}

.project-table th:nth-child(1), .project-table td:nth-child(1) {
    padding-left: 10px;
}

.project-table th:nth-child(5), .project-table td:nth-child(5) {
    padding-right: 0;
}

/* Media Queries */
@media screen and (max-width: 950px) {
    th:nth-child(2), th:nth-child(3), th:nth-child(4) {
        display: none;
    }
    td:nth-child(2), td:nth-child(3), td:nth-child(4) {
        display: none;
    }
    /* main {
        width: 90%;
    } */
}

@media (min-width: 951px) and (max-width: 1150px) {
    th:nth-child(3), th:nth-child(4) {
        display: none;
    }
    td:nth-child(3), td:nth-child(4) {
        display: none;
    }
}

@media (min-width: 1151px) and (max-width: 1350px) {
    th:nth-child(4) {
        display: none;
    }
    td:nth-child(4) {
        display: none;
    }
}