@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Space+Grotesk&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.navlink {
    font-size: 30px;
    text-decoration: none;
    background-color: transparent;
}

.topnav, .bottomnav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    width: 100%;
    background-color: transparent;
}

.topnav {
    top: 0;
}

.bottomnav {
    bottom: 0;
}

.main {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}